<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Library/Application Support/Adobe/Fonts/emotional_pos_1.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.copyLayer.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.25</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>8</integer>
			<key>name</key>
			<string>TopCurve</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1088</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>ascen_curve</string>
			<key>x</key>
			<integer>496</integer>
			<key>y</key>
			<integer>1495</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>bottom_curve</string>
			<key>x</key>
			<integer>1246</integer>
			<key>y</key>
			<integer>-22</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>max_ascen_curve</string>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>1578</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>lower_baseline</string>
			<key>x</key>
			<integer>1203</integer>
			<key>y</key>
			<integer>-341</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>u</string>
			<key>x</key>
			<integer>1419</integer>
			<key>y</key>
			<integer>-222</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>a-e</string>
			<key>x</key>
			<integer>344</integer>
			<key>y</key>
			<integer>636</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>a-1</string>
			<key>x</key>
			<integer>619</integer>
			<key>y</key>
			<integer>282</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>940</integer>
			<key>y</key>
			<integer>-11</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>n-1</string>
			<key>x</key>
			<integer>-9</integer>
			<key>y</key>
			<integer>945</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>n-2</string>
			<key>x</key>
			<integer>-1</integer>
			<key>y</key>
			<integer>785</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string>a-2</string>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>129</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
		<string>copyLayer</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>a</string>
				<string>e</string>
				<string>i</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>t</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>a</string>
		<string>e</string>
		<string>i</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>t</string>
	</array>
</dict>
</plist>
